
@{
    ViewBag.Title = "Unauthorized";
}

<div class="container-fluid">

    <div class="py-3">
        <h6 class="m-0 font-weight-bold text-primary">You do not have access to this menu</h6>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered display-5" cellspacing="0">
                    <thead>
                        <th></th>
                    </thead>
                </table>
                <div class="text-center">

                </div>

            </div>
        </div>
    </div>
</div>
